.topSpan{
	text-align: center;
}
.TopFont, .topSpan{
	font-size: 20pt;
}

.TopFont:hover{
	-webkit-animation-name: changeFont;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-name: changeFont;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes changeFont{
	from {font-size: 20pt;}
	to {font-size: 100pt;}
}

@keyframes changeFont{
	from {font-size: 20pt;}
	to {font-size: 100pt;}
}

section {
	display: -webkit-flex;
	display: flex;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

aside {
	border: 2px solid black;
	border-right: none;
	-webkit-flex: 0;
	-ms-flex: 0;
	flex: 0;
	float: left;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	width: 30%;
}

img{
	width: auto;
	height: 15px;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transition: width 1s, height 1s, transform 1s;
}

article {
	border: 2px solid black;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	float: right;
	width: 70%;
}

article:hover, aside:hover{
	-webkit-animation-name: changeBorder;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-name: changeBorder;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes changeBorder{
	from {border: 2xp solid red;}
	to {border: 4px solid rgb(78, 255, 255); }
}

@keyframes changeBorder{
	from {border: 2xp solid red;}
	to {border: 4px solid rgb(78, 255, 255); }
}

#ul1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#li1{
	height: 20px;
	display: block;
	text-align: center;
	padding: 14px 16px;
	-webkit-transition: width 1s;
	transition: 1s;
}
.foodPic{
	visibility: hidden;
}

#li1:hover .foodPic {
	height: 180px;
	visibility: visible;
}

#li1:hover .foodPic img{
	height: 150px;
	width: auto;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

#li1:hover{
	height: 180px;
}

.circleHov:hover{
	-webkit-animation-name: changeColor;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-name: changeColor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes changeColor{
	from {stroke: aqua;}
	to {stroke: red; }
}

@keyframes changeColor{
	from {stroke: aqua;}
	to {stroke: red; }
}

@media (max-width: 600px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}