.inline-center {
    text-align: center; 
}

.inline-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resize-image{
	 width: 120px;
	 height: 120px;
}

.format-links{
	background-color: deeppink !important;
	text-decoration: none !important;
	font-size: 120%;
}

.format-links:hover{
	color: teal;
}

.float-image{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

table, th, td {
    border: 1px solid black;
}  

th {
    background-color:rebeccapurple;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 0 0 10px yellow, 0 0 20px seashell;
}

td {
    background-color:skyblue;
}